# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env.local
*.env.local.*
*.local
local.*
*.env.production
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

package-lock.json
