# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env.local
*.env.local.*
*.local
local.*
*.env.production
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# package directories
jspm_packages

# Serverless directories
.serverless

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*