<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">  <style>
   
    html{
      font-size: 10px;
      text-align: center;
    }
    body{
      background: black;
      color: #ccc;
      font-size: 1.5em;
      font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: all 1s;
    }
    div{
      margin:0 0 3em 0;
      padding: 0;
    }
    input{
      background: black;
      color: #fff;

      border: .2rem solid #1AA34A;
      border-radius: 1em;

      margin: 0 .5rem;
      text-align: center;
      
      font-family: lato, monospace;
      font-size: .75em;
    }
    em{
      font-size: 1.5em;
    }

    
    
    
    h2{
      color: #1AA34A;
      display: inline-block;
      margin-block-start: 0;
      margin-block-end: 0;
      font-weight: 700;
      font-size: 3em;
    }
    h3{
      margin: .5em .5em 1em .5em;
      font-weight: 300;
    }
    
    
    button{
      margin: 0 1em;
      border: .2rem solid #1AA34A;

      background: none;

      font-family: Lato;
      color: #1AA34A;
      font-size: 1.5em;
      border-radius: 1em;
      transition: all .1s ease-in-out;
    }
    button:hover{
      transform: scale(1.1);
      color: white;
      background: #1AA34A;
      border-color: black;
    }

    
  </style>
</head>

  <body>
    <div>
      <h2>Artist</h2>
      <h3> <code>/artist/<input onkeydown="handleKeyPress(event, 0)" id="txtArtist" placeholder="your-artist" /> </code> to get a JSON response with the artist</h3>
      <button id="artist" >GO</button>
    </div>
    <div>
      <h2>Top Tracks</h2>
      <h3> <code>/artist/<input onkeydown="handleKeyPress(event, 1)" id="txtTopTracks" placeholder="your-artist-id" />/top-tracks</code> to get a JSON response with the artist Top 10 Tracks</h3>
      <button id="topTracks" >GO</button>
    </div>
    <div>
      <h2>Artist & Top Tracks</h2>
      <h3> <code>/artist-with-tracks/<input onkeydown="handleKeyPress(event, 2)" id="txtArtistNTracks" placeholder="your-artist" />/top-tracks</code> to get a JSON response with <em>BOTH</em> the artist and their Top 10 Tracks</h3>
      <button id="artistNTracks" >GO</button>
    </div>



    <script >
    var btnArtist = document.getElementById('artist');
    var btnTopTracks = document.getElementById('topTracks');
    var btnArtistNTracks = document.getElementById('artistNTracks');
    
    var txtArtist= document.getElementById('txtArtist');
    var txtTopTracks = document.getElementById('txtTopTracks');
    var txtArtistNTracks = document.getElementById('txtArtistNTracks');



    const handleKeyPress = (event, mode) =>
    {

      if(mode === 0)
      {
        event.key == 'Enter' ? redirect.Artist() : null;
      }
      if(mode === 1)
      {
        event.key == 'Enter' ? redirect.Tracks() : null;
      }
      if(mode === 2)
      {
        event.key == 'Enter' ? redirect.ArtistNTracks() : null;
      }
    }

    btnArtist.addEventListener('click', () => redirect.Artist() );
    btnTopTracks.addEventListener('click', ()=> redirect.Tracks() );
    btnArtistNTracks.addEventListener('click', ()=> redirect.ArtistNTracks() );

    // txtArtist.onk;
    txtArtist.addEventListener('onKeyPress', event => console.log('event.target.value'));






    const redirect =
    {
      redirectURL: 'https://spotify-api-wrapper-joaco.herokuapp.com',

      handleInput: function(input)
      {
        input = input.trim();
        return input !== '' ? input : false;
      },

        Artist: function()
      {
        var artist = this.handleInput(txtArtist.value);
        if(artist)
        {
          window.location.assign(`${this.redirectURL}/artist/${artist}`);
        }
      },
      
      Tracks: function()
      {
        var id = this.handleInput(txtTopTracks.value);
        if(id)
        {
          window.location.assign(`${this.redirectURL}/artist/${id}/top-tracks`);
        }
      },
      
      ArtistNTracks: function()
      {
        var artist = this.handleInput(txtArtistNTracks.value);
        if(artist)
        window.location.assign(`${this.redirectURL}/artist-with-tracks/${artist}`);
      }
    }
    </script>
  </body>

</html>
